In [1]:
## Deliverable 2. Create a Customer Travel Destinations Map.
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
import matplotlib.pyplot as plt

In [2]:
# 1. Import the WeatherPy_database.csv file. 
read_path = 'C:\Aparna\ALL_HW\World_Weather_Analysis\Weather_Database\WeatherPy_Database.csv'
city_data_df = pd.read_csv(read_path)
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Puerto Ayora,EC,-0.7393,-90.3518,68.56,92,54,4.00,broken clouds
1,1,Leningradskiy,RU,69.3833,178.4167,-3.62,82,92,4.68,overcast clouds
2,2,Kapaa,US,22.0752,-159.3190,82.38,75,20,1.01,few clouds
3,3,Barrow,US,71.2906,-156.7887,10.42,79,90,5.75,light snow
4,4,Cidreira,BR,-30.1811,-50.2056,62.29,72,0,6.71,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Busselton,AU,-33.6500,115.3333,76.08,44,15,7.74,few clouds
14,14,Rikitea,PF,-23.1203,-134.9692,73.63,67,50,10.22,scattered clouds
15,15,Bambous Virieux,MU,-20.3428,57.7575,79.21,73,40,13.80,scattered clouds
17,17,Sur,OM,22.5667,59.5289,76.75,46,0,6.02,clear sky
18,18,Rawson,AR,-43.3002,-65.1023,70.77,32,48,10.40,scattered clouds
19,19,Moussoro,TD,13.6408,16.4901,77.59,20,4,9.89,clear sky
22,22,Pau Dos Ferros,BR,-6.1125,-38.2063,79.02,61,45,9.35,scattered clouds
28,28,Sao Mateus,BR,-18.7161,-39.8589,74.28,90,99,5.88,overcast clouds
30,30,Tura,IN,25.5198,90.2201,73.76,58,14,2.13,few clouds
33,33,San Alberto,CO,7.7611,-73.3922,72.84,90,62,4.70,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                157
City                   157
Country                157
Lat                    157
Lng                    157
Max Temp               157
Humidity               157
Cloudiness             157
Wind Speed             157
Current Description    157
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                157
City                   157
Country                157
Lat                    157
Lng                    157
Max Temp               157
Humidity               157
Cloudiness             157
Wind Speed             157
Current Description    157
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Busselton,AU,76.08,few clouds,-33.6500,115.3333,
14,Rikitea,PF,73.63,scattered clouds,-23.1203,-134.9692,
15,Bambous Virieux,MU,79.21,scattered clouds,-20.3428,57.7575,
17,Sur,OM,76.75,clear sky,22.5667,59.5289,
18,Rawson,AR,70.77,scattered clouds,-43.3002,-65.1023,
19,Moussoro,TD,77.59,clear sky,13.6408,16.4901,
22,Pau Dos Ferros,BR,79.02,scattered clouds,-6.1125,-38.2063,
28,Sao Mateus,BR,74.28,overcast clouds,-18.7161,-39.8589,
30,Tura,IN,73.76,few clouds,25.5198,90.2201,
33,San Alberto,CO,72.84,broken clouds,7.7611,-73.3922,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
 
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df=hotel_df.dropna()

In [10]:
# 8a. Create the output File (CSV)
output_data_file="WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
# Info box data

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} {Max Temp} °F</dd>
</dl>
"""


# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

In [12]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [14]:
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.  
#11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.00, 31.00), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# # 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
fig.savefig("WeatherPy_vacation_map.png")

AttributeError: 'Figure' object has no attribute 'savefig'